
body{
    background-image:url(https://wallpaper.dog/large/20468044.jpg);
}

.con{
    display: grid;

}
.con h1{
    text-align: center;

}
.nav-bar ul{
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-gap: 20px;
}
.nav-bar a{
    text-align: center;
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: rgb(240, 235, 235);
    font-size: 24;
}

.main-sec p{
    text-align: left;
    font-size: 16;
    color: white;
}

.main-sec button{
    width: 80px;
    height: 50px;
    font-size: 12px;
    background-color: rgb(101, 101, 172);
}
.main-sec button :hover{
    background-color: blue;
}
.con samp{
    color: red;
}